footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #00968e;
  color: white;
  text-align: center;
}

header{
  text-align: center;
  color: #00968e;
}

#main {
  text-align: center;
}